export(funclust)
export(mfpca)
export(mfpcaPlot)
export(plotfd)
export(plotOC)
useDynLib(Funclustering)
import(Rcpp)
import(fda)
import(methods)
importFrom("grDevices", "dev.new")
importFrom("graphics", "par", "plot")

